.card-container {
  display: flex;
  background-color: var(--card-background-color);
  padding: 30px;
  border: 1px solid var(--body-background-color);
  box-shadow: 0px 41px 70px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  min-height: 180px;
  min-width: 150px;
  box-sizing: border-box;
}
